/* common shared style */
body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
p{
    color: rgb(135, 135, 135);
    font-size: 16px;
    line-height: 30px;
}
main section , footer{
    margin-top: 130px;
}


/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
 list-style: none;
 margin-left: 30px;
}
nav a{
text-decoration: none;
 color: rgb(135, 135, 135);
font-size: large;
}
.nav-title{
    color: rgb(53, 51, 51);
    font-weight: 800;
    font-size: 40px;
}
/* some primary style */
.text-primary{
    color: rgba(253, 110, 10, 1);
    /* color: brown; */
}
.text-secondary{
    color: #474747;
}
.btn-primary, .contact-btn{
    background-color: rgba(253, 110, 10, 1);
    color: aliceblue;
    font-weight: 500;
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: large;
}
.contact-btn{
    background-color: #FFF8F3;
    border:1px solid rgba(253, 110, 10, 1);
    color: rgba(253, 110, 10, 1);
    margin-left: 10px;

}
/* header related styles */
.header{
    background-color: #FFF8F3;
    position: relative;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 200px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;       */
}
.banner-content{
  max-width: 450px;
}
.profile-pic{
    height: 600px;
    display: block;
}
.banner-gretting{
    font-size: 30px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
   font-size: 55px;
   font-weight: 700;
   margin-top: 5px;
   margin-bottom: 0px;
}
.banner-description{
 margin: 20px 0;
}
.developer-pic{
    position: absolute;
    top: 20px;
    left: 30px;
    bottom: 20px;
    height: 700px;
}
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about section styles */
.about-section{
    background-color: #FFF8F3;
    text-align: center;
    padding: 110px;
    border-radius: 10px;

}
.about-me-info{
    display: flex;
    justify-content: space-between;
}

.about-description{
 margin: 20px 0;
 font-size: 16px;
 line-height: 30px;
}
/* what I do section styles */

.what-i-do-title{
    text-align: center;

}
.what-i-do-description{
    text-align: center;
    padding: 10px 150px;
    font-size: 16px;
    line-height: 30px;
}
.my-skills-details{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}
.skills-card{
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 50px lightgray;
    margin:20px 0px;
}
/* My resume summery section styles */
.resume-title{
    text-align: center;
}
.resume-container{
    display: flex;
    column-gap: 20px;
    margin-top: 100px;
}
.resume-item-institute{
    color: rgb(135, 135, 135);
}
hr{
   height: 1px;
   
}
.resume-download-btn{
    margin-top: 20px;
    text-align: center;
}
/* footer styles start */
footer{
    background-color: #FFF8F3;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px;
}

.contact-form input[type="text"], .contact-form input[type="email"], textarea {
    background-color: white;
    border: none;
    display: block;
    width: 400px;
    margin: 20px 0px;
    padding: 20px 30px;
    border-radius: 5px;
}
